@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/roboto-regular.eot');
    src: url('../font/Roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto/roboto-regular.woff2') format('woff2'),
         url('../font/Roboto/roboto-regular.woff') format('woff'),
         url('../font/Roboto/roboto-regular.ttf') format('truetype'),
         url('../font/Roboto/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat Extralight';
    src: url('../font/Montserrat/montserrat-extralight.eot');
    src: url('../font/Montserrat/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
         url('../font/Montserrat/montserrat-extralight.woff2') format('woff2'),
         url('../font/Montserrat/montserrat-extralight.woff') format('woff'),
         url('../font/Montserrat/montserrat-extralight.ttf') format('truetype'),
         url('../font/Montserrat/montserrat-extralight.svg#montserratextralight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('../font/Montserrat/montserrat-light.eot');
    src: url('../font/Montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../font/Montserrat/montserrat-light.woff2') format('woff2'),
         url('../font/Montserrat/montserrat-light.woff') format('woff'),
         url('../font/Montserrat/montserrat-light.ttf') format('truetype'),
         url('../font/Montserrat/montserrat-light.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/montserrat-regular.eot');
    src: url('../font/Montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Montserrat/montserrat-regular.woff2') format('woff2'),
         url('../font/Montserrat/montserrat-regular.woff') format('woff'),
         url('../font/Montserrat/montserrat-regular.ttf') format('truetype'),
         url('../font/Montserrat/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('../font/Raleway/raleway-bold.eot');
    src: url('../font/Raleway/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway/raleway-bold.woff2') format('woff2'),
         url('../font/Raleway/raleway-bold.woff') format('woff'),
         url('../font/Raleway/raleway-bold.ttf') format('truetype'),
         url('../font/Raleway/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway Extrabold';
    src: url('../font/Raleway/raleway-extrabold.eot');
    src: url('../font/Raleway/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway/raleway-extrabold.woff2') format('woff2'),
         url('../font/Raleway/raleway-extrabold.woff') format('woff'),
         url('../font/Raleway/raleway-extrabold.ttf') format('truetype'),
         url('../font/Raleway/raleway-extrabold.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway Medium';
    src: url('../font/Raleway/raleway-medium.eot');
    src: url('../font/Raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway/raleway-medium.woff2') format('woff2'),
         url('../font/Raleway/raleway-medium.woff') format('woff'),
         url('../font/Raleway/raleway-medium.ttf') format('truetype'),
         url('../font/Raleway/raleway-medium.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/raleway-regular.eot');
    src: url('../font/Raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway/raleway-regular.woff2') format('woff2'),
         url('../font/Raleway/raleway-regular.woff') format('woff'),
         url('../font/Raleway/raleway-regular.ttf') format('truetype'),
         url('../font/Raleway/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway Semibold';
    src: url('../font/Raleway/raleway-semibold.eot');
    src: url('../font/Raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway/raleway-semibold.woff2') format('woff2'),
         url('../font/Raleway/raleway-semibold.woff') format('woff'),
         url('../font/Raleway/raleway-semibold.ttf') format('truetype'),
         url('../font/Raleway/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}